build/
*.ipr
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/
forge/run/*
fabric/run/*

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch

common/run/*

.architectury-transformer/*
common/.architectury-transformer/*
forge/.architectury-transformer/*
fabric/.architectury-transformer/*

**/.cache/*